# 🏛️ Repository Ownership (CODEOWNERS)
# This file facilitates branch protection and ensures the right teams review changes.

# Global owners (SRE/Platform Team)
*       @ok-karthik

# Module-specific owners
/iac-modules-repo/   @ok-karthik
/foundation-live-repo/     @ok-karthik
/workloads-live-repo/      @ok-karthik

# Security & Compliance policies
/policy-library-repo/      @ok-karthik

# CI/CD Workflows & Actions
/.github/                  @ok-karthik
